*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #333;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 6.2rem;
}

ul {
  list-style: none;
}

main {
  height: 100%;
}

section {
  padding: 0 2.4rem;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  z-index: 100;
}
header .toggler {
  position: relative;
  cursor: pointer;
  height: 50px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in;
}
header .toggler span {
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  border-radius: 3px;
  transition: transform 0.3s ease-in 0.5s, opacity 0.2s ease-in;
}
header .toggler::before {
  content: "";
  position: absolute;
  height: 55px;
  width: 55px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
}
header .toggler::after {
  content: "";
  position: absolute;
  height: 55px;
  width: 55px;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 100%;
}
header .toggler.open {
  transform: rotate(90deg);
}
header .toggler.open span:nth-child(1) {
  transform: rotate(-90deg) translateX(-50%);
}
header .toggler.open span:nth-child(2) {
  opacity: 0;
}
header .toggler.open span:nth-child(3) {
  transform: translateY(-12px);
}
header .toggler.open::after {
  transform: translate(-50%, -50%) scale(1);
  border: 3px solid #4C8C9D;
  animation: scale 0.7s ease-in forwards alternate;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 70px;
  width: 100%;
  height: 100%;
  z-index: 60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4.4rem;
  text-align: center;
  opacity: 0;
}
.sidenav ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.sidenav li {
  overflow: hidden;
  position: relative;
  transform: translateY(-100%) translateX(-100%);
  opacity: 0;
}
.sidenav a {
  transition: color 0.3s ease-in, opacity 1s ease-in;
  transform: translateY(400px);
}
.sidenav a:hover {
  color: #4C8C9D;
}
.sidenav.open {
  opacity: 1;
}
.sidenav.open li {
  animation: move 0.3s ease-in forwards, opacityAnimation 0.8s ease-in forwards;
}
.sidenav.open li.item-1 {
  animation-delay: 1.5s;
}
.sidenav.open li.item-2 {
  animation-delay: 2s;
}
.sidenav.open li.item-3 {
  animation-delay: 2.5s;
}
.sidenav.open li.item-4 {
  animation-delay: 3s;
}

.item-wrapper {
  position: relative;
  overflow: hidden;
}

.sidenav-overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.9);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  transform: scale(0);
  transition: transform 1s ease-in, opacity 0.2s ease-in;
  z-index: 50;
}

.sidenav-overlay.open {
  opacity: 1;
  transform: scale(50);
  transition: transform 1s ease-in 0.1s;
}

@keyframes scale {
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.3);
  }
}
@keyframes move {
  100% {
    transform: translateY(0%) translateX(0%);
  }
}
@keyframes opacityAnimation {
  100% {
    opacity: 1;
  }
}
.hero {
  font-family: "Oswald", sans-serif;
  height: 100%;
  font-optical-sizing: auto;
  display: flex;
  background-image: url(./images/profile_2_var1.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 5px;
  font-weight: 700;
}
.hero .text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .word-wrapper {
  overflow: hidden;
}
.hero .text {
  opacity: 0;
  transform: rotateX(-100deg) translateY(-100%);
  animation: textMove 0.4s ease-in forwards, textOpacity 1s ease-in forwards;
}
.hero .text.name {
  color: #4C8C9D;
}
.hero .text.role {
  font-weight: 300;
  font-size: 5.2rem;
}
.hero .text.text-1 {
  animation-delay: 0s;
}
.hero .text.text-2 {
  animation-delay: 0.5s;
}
.hero .text.text-3 {
  animation-delay: 1s;
}
.hero .button-wrapper {
  padding: 3.2rem 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hero button {
  position: relative;
  background: none;
  color: #fff;
  border: none;
  opacity: 0;
  position: relative;
  cursor: pointer;
  animation: textOpacity 1s ease-in forwards 1.5s;
}
.hero button::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #4C8C9D;
}
.hero button:hover::before {
  width: 100%;
}
.hero i {
  position: absolute;
  opacity: 0;
  font-size: 2.4rem;
  color: #fff;
  transform: translateX(1.2rem) translateY(0);
  animation: down 0.45s ease-in-out infinite alternate-reverse, textOpacity 0.5s ease-in forwards 2.3s;
  top: -50%;
}
@keyframes down {
  100% {
    transform: translateX(1.2rem) translateY(0.8rem);
  }
}

@keyframes textMove {
  100% {
    transform: translateY(0%);
  }
}
@keyframes textOpacity {
  100% {
    opacity: 1;
  }
}
@keyframes textRotate {
  100% {
    transform: rotateX(0deg);
  }
}
.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/*# sourceMappingURL=styles.css.map */
