*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #333;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  height: 100%;
}

button {
  padding: 0.8rem 1.6rem;
  background: none;
  border: none;
  border-radius: 5px;
  color: #2b4f58;
  font-weight: 700;
  position: relative;
  outline: none;
  cursor: pointer;
  border: 3px solid #2b4f58;
  transition: color 0.3s ease-in;
}
button.filled:hover {
  color: #fff;
}
button.filled::after {
  position: absolute;
  content: "";
  background: #2b4f58;
  inset: 0;
  width: 0%;
  transition: width 0.2s ease-in;
  z-index: -1;
}
button.filled:hover::after {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  z-index: 100;
}
header .toggler {
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
header .toggler span {
  position: absolute;
  border-radius: 1.6px;
  background: #fff;
  width: 80%;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  transition: transform 0.3s ease-in 0.5s, opacity 0.3s ease-in 0.5s;
}
header .toggler span:nth-child(1) {
  transform: translate(-50%, calc(-50% - 0.8rem));
}
header .toggler span:nth-child(3) {
  transform: translate(-50%, calc(-50% + 0.8rem));
}
header .toggler.open {
  transform: rotate(90deg);
}
header .toggler.open span:nth-child(1) {
  transform: translate(-50%, 0%) rotate(45deg);
}
header .toggler.open span:nth-child(2) {
  opacity: 0;
}
header .toggler.open span:nth-child(3) {
  transform: translate(-50%, 0) rotate(-45deg);
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 70px;
  width: 100%;
  height: 100%;
  z-index: 60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4.4rem;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.sidenav ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.sidenav li {
  overflow: hidden;
  position: relative;
  transform: translateY(-100%) translateX(-100%);
  opacity: 0;
}
.sidenav a {
  transition: color 0.3s ease-in, opacity 1s ease-in;
  transform: translateY(400px);
}
.sidenav a:hover {
  color: #4C8C9D;
}
.sidenav.open {
  opacity: 1;
  visibility: visible;
}
.sidenav.open li {
  animation: move 0.3s ease-in forwards, opacityAnimation 0.8s ease-in forwards;
}
.sidenav.open li.item-1 {
  animation-delay: 1.5s;
}
.sidenav.open li.item-2 {
  animation-delay: 2s;
}
.sidenav.open li.item-3 {
  animation-delay: 2.5s;
}
.sidenav.open li.item-4 {
  animation-delay: 3s;
}

.item-wrapper {
  position: relative;
  overflow: hidden;
}

.sidenav-overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.9);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  transform: scale(0);
  transition: transform 1s ease-in, opacity 0.2s ease-in, visibility 0.2s ease-in;
  z-index: 50;
}

.sidenav-overlay.open {
  visibility: visible;
  opacity: 1;
  transform: scale(100);
  transition: transform 1s ease-in 0.1s;
}

@keyframes scale {
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.3);
  }
}
@keyframes move {
  100% {
    transform: translateY(0%) translateX(0%);
  }
}
@keyframes opacityAnimation {
  100% {
    opacity: 1;
  }
}
.hero {
  position: relative;
  font-family: "Oswald", sans-serif;
  height: 100%;
  font-optical-sizing: auto;
  display: flex;
  background-image: url(./images/profile_2_var1.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 5px;
  font-weight: 700;
  padding: 0.8rem;
}
.hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: block;
  z-index: 0;
}
.hero .text-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .word-wrapper {
  overflow: hidden;
}
.hero .text {
  opacity: 0;
  transform: rotateX(-100deg) translateY(-100%);
  animation: textMove 0.4s ease-in forwards, textOpacity 1s ease-in forwards;
}
.hero .text.name {
  background-color: #4C8C9D;
  background-image: linear-gradient(45deg, #4C8C9D, #2b4f58);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero .text.role {
  font-weight: 300;
}
.hero .text.text-1 {
  animation-delay: 0s;
}
.hero .text.text-2 {
  animation-delay: 0.5s;
}
.hero .text.text-3 {
  animation-delay: 1s;
}
.hero .text.text-4 {
  animation-delay: 1.5s;
}
.hero .button-wrapper {
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.hero button {
  position: relative;
  background: none;
  color: #fff;
  border: none;
  opacity: 0;
  position: relative;
  cursor: pointer;
  animation: textOpacity 1s ease-in forwards 1.5s;
}
.hero button::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #4C8C9D;
}
.hero i {
  position: absolute;
  opacity: 0;
  font-size: 2.4rem;
  color: #fff;
  transform: translateX(1.2rem) translateY(0);
  animation: down 0.45s ease-in-out infinite alternate-reverse, textOpacity 0.5s ease-in forwards 2.3s;
  top: 0;
}
@keyframes down {
  100% {
    transform: translateX(1.2rem) translateY(0.8rem);
  }
}

@keyframes textMove {
  100% {
    transform: translateY(0%);
  }
}
@keyframes textOpacity {
  100% {
    opacity: 1;
  }
}
@keyframes textRotate {
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 4rem 0rem;
}
.skills h2 {
  color: #4C8C9D;
}
.skills .skill-wrapper {
  gap: 2.4rem 0.8rem;
  width: 100%;
  padding: 0rem 0.8rem;
  padding-top: 6.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.skills .skill-transition-wrapper:last-child {
  grid-column: span 2;
}
.skills .skill-transition-wrapper:last-child .skill {
  min-height: 200px;
  transition: transform 1s ease-in 0.5s, opacity 0.5s ease-in 0.5s, box-shadow 0.3s ease-in;
}
.skills .skill {
  min-height: 200px;
  display: flex;
  gap: 1.6rem;
  border-radius: 20px;
  border: 3px solid rgb(76, 140, 157);
  cursor: pointer;
  transform: translate(-200%, -100%);
  opacity: 0;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in, box-shadow 0.3s ease-in;
}
.skills .skill:hover {
  box-shadow: -3px 5px 7px rgba(59, 109, 123, 0.8);
}
.skills .skill:hover .content-wrapper {
  transform: scale(1);
}
.skills .skill.css {
  transition: transform 0.5s ease-in 0.5s, opacity 0.5s ease-in 0.5s, box-shadow 0.3s ease-in;
}
.skills .skill.javascript {
  transition: transform 0.5s ease-in 0.5s, opacity 0.5s ease-in 0.5s, box-shadow 0.3s ease-in;
}
.skills .skill.reactjs {
  transition: transform 0.5s ease-in 1s, opacity 0.5s ease-in 0.5s, box-shadow 0.3s ease-in;
}
.skills .skill .content-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}
.skills .skill.show {
  transform: translate(0%, 0%);
  opacity: 1;
}
.skills .skill.show .content-wrapper {
  opacity: 1;
}
.skills .skill.show .icon-wrapper {
  transform: translateY(0%);
}
.skills .skill.show .title {
  width: 100%;
  opacity: 1;
  transition: width 0.4s ease-in-out 0.3s, opacity 0.5s ease-in 0.4s;
}
.skills .skill.skill:nth-child(even) .icon-wrapper::before {
  background: linear-gradient(#9E4C66, #333333);
}
.skills .skill.skill:nth-child(even) .icon-wrapper::after {
  content: "";
  position: absolute;
}
.skills .skill.skill:nth-child(even) h3 {
  color: #333;
}
.skills .outer-icon-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.skills .icon-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
}
.skills .icon-wrapper::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 150%;
  background: linear-gradient(#9E4C66, #4C8C9D);
  animation: rotate 2s linear infinite;
  filter: blur(5px);
}
.skills .icon-wrapper::after {
  content: "";
  position: absolute;
  background: #333;
  inset: 5px;
  border-radius: 100%;
}
.skills .title {
  text-align: center;
  width: 0%;
  opacity: 0;
}
.skills svg {
  z-index: 5;
  fill: #fff;
  height: 65px;
}

.projects {
  background-color: #2b4f58;
  background-image: linear-gradient(45deg, #4C8C9D, #2b4f58);
  color: #fff;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 4rem 0;
  position: relative;
}
.projects .project-wrapper {
  padding: 0rem 0.8rem;
  padding-top: 6.2rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 4.8rem;
  position: relative;
}
.projects .animated-text-wrapper {
  position: absolute;
  top: 0px;
}
.projects .animated-text {
  top: 0;
  color: #fff;
  font-weight: 700;
}
.projects .animated-text svg {
  position: absolute;
  animation: arrowMove 0.3s ease-in infinite alternate;
}
.projects .project {
  text-align: center;
  perspective: 1000px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.projects .project:hover .video-wrapper .project-description {
  opacity: 1;
}
.projects .project:hover .video-wrapper .project-description::before {
  opacity: 1;
}
.projects .project:hover .video-wrapper .project-description .title {
  transform: translateX(0%) scale(1);
  transition: transform 0.5s ease-in;
}
.projects .project:hover .video-wrapper .project-description .text {
  transform: translateX(0%);
  transition: transform 0.5s ease-in 0.3s;
}
.projects .project:hover .video-wrapper .project-description .button-wrapper {
  transform: translateX(0%);
  transition: transform 0.5s ease-in 0.5s;
}
.projects .project:hover .video-wrapper::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
}
.projects .project:hover video {
  transform: scale(0.6) translate(50px, 50px);
  box-shadow: 5px 0px 50px rgba(51, 51, 51, 0.5);
  filter: blur(6px);
  animation: pulse 2s ease-in infinite alternate;
}
.projects .video-wrapper {
  flex: 1;
  transform: rotateX(-90deg);
  width: 100%;
  opacity: 0;
  animation: imageOpacity 1s ease-in forwards 0.5s, imageRotate 0.5s ease-in forwards 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
}
.projects .video-wrapper .project-description {
  overflow: hidden;
  position: absolute;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.6rem;
  width: 100%;
  height: 250px;
  z-index: 50;
  opacity: 0;
  color: #333;
  transition: opacity 0.5s ease-in 0.3s, background-color 1s ease-in;
}
.projects .video-wrapper .project-description::before {
  opacity: 0;
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in;
}
.projects .video-wrapper .project-description .title {
  transform: translateX(-100%) scale(0.5);
  transition: transform 0.5s ease-in 0.1s;
}
.projects .video-wrapper .project-description .text {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in 0.15s;
}
.projects .video-wrapper .project-description .button-wrapper {
  padding-top: 2.4rem;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in 0.2s;
}
.projects video {
  object-fit: cover;
  flex: 1;
  transform: scale(1) translate(0px);
  border-radius: 10px;
  transition: transform 0.3s ease-in, filter 0.5s ease-in;
}
.projects.show .image-wrapper {
  opacity: 1;
}

@keyframes pulse {
  0% {
    filter: blur(6px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(6px);
  }
}
@keyframes changeColor {
  0% {
    background-color: #4C8C9D;
  }
  50% {
    background-color: #9E4C66;
  }
  100% {
    background-color: #4C8C9D;
  }
}
@keyframes imageRotate {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes imageScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes imageOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrowMove {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  100% {
    transform: translateY(10px) translateX(5px);
  }
}
@keyframes slideInText {}

/*# sourceMappingURL=styles.css.map */
