@import "./variables";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%; 
  scroll-behavior: smooth;

}


body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #333;
  color: #fff;  
  overflow-x: hidden;
  // min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
}


h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  height: 100%;
}

section {
  padding: 4rem  2.4rem;
}

button {
  padding: 0.8rem 1.6rem;
  border: 3px solid lighten(#4C8C9D, 20%);
  background: none;
  border-radius: 5px; 
  color: lighten(#4C8C9D, 20%);
  font-weight: 700;
}


// HEADER

header {
  position: fixed;
  width: 100%;
  // background: rgba(0, 0, 0, 0.3);
  height: 70px;
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  z-index: 100;
  .toggler {
    height: 50px;
    width: 50px;  
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    
    

    span {
     position: absolute;
    //  padding: 1.6rem;
     border-radius: 1.6px;
    
     background: #fff;
     width: 80%;
     height: 3px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     display: block;
     transition: transform 0.3s ease-in 0.5s, opacity 0.3s ease-in 0.5s;

     &:nth-child(1) {
      transform: translate(-50%, calc(-50% - 0.8rem));
    
      
     }

  

     &:nth-child(3) {
        transform: translate(-50%, calc(-50% + 0.8rem)); 
     }
    }

    &.open {
      transform: rotate(90deg);
     
      span {
        &:nth-child(1) {
          transform: translate(-50%, 0%) rotate(45deg);
        }
        
        &:nth-child(2) {
          opacity: 0;
         
        }

        &:nth-child(3) {
          transform: translate(-50%, 0) rotate(-45deg)
        }
      }
    
    }


    
    

  
    
  }
}

.sidenav {
 position: fixed;
 top: 0;
 left: 0;
 padding-top: 70px;
 width: 100%;
 height: 100%;
 z-index: 60;
 
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 4.4rem;
 text-align: center;
 opacity: 0;
 visibility: hidden;


  ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    

  }

  li {
    overflow: hidden;
    position: relative;
    transform: translateY(-100%) translateX(-100%);
    opacity: 0;

    
    
  }

  a {
    transition: color 0.3s ease-in, opacity 1s ease-in;
    transform: translateY(400px);


    &:hover {
      color: $color-main;
    }
 }


  &.open {
    opacity: 1;
    visibility: visible;
    li {
      animation: move 0.3s ease-in forwards, opacityAnimation 0.8s ease-in forwards;

      &.item-1 {
        animation-delay: 1.5s;
      }
    
      &.item-2 {
        animation-delay: 2s;
      }
    
      &.item-3 {
        animation-delay: 2.5s;
      }
    
      &.item-4 {
        animation-delay: 3s;
      }
    }
  }
}


.item-wrapper {
  // background: red;
  position: relative;
  overflow: hidden;
}



.sidenav-overlay {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.9);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  transform: scale(0);
  transition: transform 1s ease-in, opacity 0.2s ease-in, visibility 0.2s ease-in;
  z-index: 50;

}


.sidenav-overlay.open {
  visibility: visible;
  opacity: 1;
  transform: scale(100);
  transition: transform 1s ease-in 0.1s;

}


@keyframes scale {
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.3);
  }
}

@keyframes move {
  100% {
    transform: translateY(0%) translateX(0%);
  }
}

@keyframes opacityAnimation {
  100% {
    opacity: 1;
  }
}



// HERO

.hero {
  position: relative;
  font-family: "Oswald", sans-serif;
  height: 100%;
  font-optical-sizing: auto;
  display: flex;
  background-image: url(./images/profile_2_var1.png);
  // filter:hue-rotate();
  background-size:cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 5px;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // background: lighten(rgba(76, 140, 157, 0.5), 10%);
    display: block;
    z-index: 0;
  }


  .text-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .word-wrapper {
    overflow: hidden;
  }


  .text {
    opacity: 0;
    transform: rotateX(-100deg) translateY(-100%);
    animation: textMove 0.4s ease-in forwards, 
    textOpacity 1s ease-in forwards;

    &.name {
      // color: rgba(76, 140, 157, 0.7);
      // text-shadow: 0px 3px 0px #4C8C9D;
      background-color:#4C8C9D;
      background-image: linear-gradient(45deg, rgba(158, 76, 102, 0.9), darken($color-main, 30%));
      background-size: 100%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.role {
      font-weight: 300;
      // font-size: 5.2rem;
    }

    &.text-1 {
      animation-delay: 0s;
    }

    &.text-2 {
      animation-delay: 0.5s;
    }

    &.text-3 {
      animation-delay: 1s;
    }

    &.text-4 {
      animation-delay: 1.5s;
    }
  }


  

  .button-wrapper {
    height: 50px;

    overflow: hidden;
    display: flex;
    align-items: center;

  }
    
  button {
    position: relative;
    background: none;
    color: #fff;
    border: none;
    opacity: 0;
    position: relative;
    cursor: pointer;
    animation: textOpacity 1s ease-in forwards 1.5s;
    &::before {
      position: absolute;
      content: "";
      width: 0%;
      height: 2px;
      bottom: 0;
      left: 0;
      background: #4C8C9D;
    }

    &:hover::before {
      width: 100%;
    }
  }

  i {
    position: absolute;
    opacity: 0;
    font-size: 2.4rem;
    color: #fff;
    transform: translateX(1.2rem) translateY(0);
    animation: down 0.45s ease-in-out infinite alternate-reverse, textOpacity 0.5s ease-in forwards 2.3s;
    top: -50%;
  } 

  @keyframes down {
    100% {
     transform: translateX(1.2rem) translateY(0.8rem);
    }
   }
}

@keyframes textMove {
  100% {
    transform: translateY(0%);
  }
}

@keyframes textOpacity {
  100% {
    opacity: 1;
  }
}

@keyframes textRotate {
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 4rem  0rem;

  h2 {
    color: $color-main;
  }

  .skill-wrapper {
    gap: 2.4rem 0.8rem;
    width: 100%;
    padding: 0rem 0.8rem;
    padding-top: 6.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

  }

  .skill-transition-wrapper:last-child {

    grid-column: span 2;

    .skill {
      min-height: 200px;
      transition: transform 1s ease-in 0.5s, opacity 0.5s ease-in 0.5s, box-shadow 0.3s ease-in;
    }
  
  }
  


  .skill {
    min-height: 200px;
    display: flex;
    gap: 1.6rem;
    // color: $color-main;
    border-radius: 20px;
    border: 3px solid rgb(76, 140, 157);
    // background: rgba(255,255,255, 0.3);
    cursor: pointer;
   
    transform: translate(-200%, -100%);
    opacity: 0;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in, box-shadow 0.3s ease-in;
  
    &:hover {
       box-shadow: -3px 5px 7px darken(rgba(76, 140, 157, 0.8), 10%);

       .content-wrapper {
        transform: scale(1);
       }
    }

    &.css {
      transition: transform 0.5s ease-in 0.5s, opacity 0.5s ease-in 0.5s, box-shadow 0.3s ease-in;
    }

    &.javascript {
      transition: transform 0.5s ease-in 0.5s, opacity 0.5s ease-in 0.5s, box-shadow 0.3s ease-in;
    }

    &.reactjs {
      transition: transform 0.5s ease-in 1s, opacity 0.5s ease-in 0.5s, box-shadow 0.3s ease-in;
    }

    .content-wrapper {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      transform: scale(0.95);
      opacity: 0;
      transition: opacity 0.3s ease-in, transform 0.3s ease-in;
      
    }

    &.show {
      transform: translate(0%, 0%);
      opacity: 1;
      .content-wrapper {
        opacity: 1;
      }

      .icon-wrapper {
        transform: translateY(0%);
      }

      .title {
        width: 100%;
        opacity: 1;
        transition: width 0.4s ease-in-out 0.3s, opacity 0.5s ease-in 0.4s;
      }
      
    }
    &.skill:nth-child(even) {
      // background: $color-main;
      .icon-wrapper {
        &::before {
          background: linear-gradient(#9E4C66, #333333);
         
        } 
        &::after {
          content: "";
          position: absolute;
          // background: #4C8C9D;
        }
      } 
      h3 {
        color: #333;
      }
    }
  }

  .outer-icon-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .icon-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    background: transparent;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
    

    &::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 150%;
      background: linear-gradient(#9E4C66, #4C8C9D);

      // transform: translateY(0%);
      animation: rotate 2s linear infinite;
      filter: blur(5px);
     
    }

    &::after {
      content: "";
      position: absolute;
      background: #333;
      inset: 5px;
    

      border-radius: 100%; 
      
    }

  }


  .title {
    text-align: center;
    width: 0%;
    opacity: 0;
    // width: 100%;
  }

  svg {
    z-index: 5;
    fill: #fff;
    height: 65px;
    // object-fit: cover;
    // transform: scale(0.8);
  }
}

.projects {
  background-color:#4C8C9D;
  color: #333;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 4rem 0;
  position: relative;

  
  .project-wrapper {
    padding: 0rem 0.8rem;
    padding-top: 6.2rem;
    display: flex;
    // flex-direction: column;
    overflow: scroll;
  

    
    gap: 2.4rem;
    position: relative;
    // flex: 1 0 100%;
 
  }

  .animated-text-wrapper {
    position: absolute;
    top: 0px;
    // background: red;
  }

  .animated-text {
    // position: absolute;
    top: 0;
    color: #fff;
    font-weight: 700;
    // transform: translateY(50%);

    svg {
      position: absolute;
      animation: arrowMove 0.3s ease-in infinite alternate;
    }
  
  }



  .project {
    text-align: center;
    perspective: 1000px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex: 0 0 100%;
    // flex: 0 0 100%
    // width: 100%;;

    .video-wrapper {
      // perspective: 1000px;
      flex: 1;
      transform: rotateX(-90deg);
      width: 100%;
      opacity: 0;
      animation: imageOpacity 1s ease-in forwards 0.5s, imageRotate 0.5s ease-in forwards 0.5s;
      // border-radius: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
    

      .project-description {
        position: absolute;
        text-align:start;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: 100%;
        z-index: 50;
        // opacity: 0;
        transition: opacity 0.5s ease-in, background-color 1s ease-in;
        &::before {
          opacity: 0;
          position: absolute;
          content: "";
          background: lighten(rgba(76, 140, 157, 0.8), 30%);
          filter: blur(3px);
          height: 50%;
          width: 100%;
          top: 0;
          left: 0;
          transition: opacity 0.5s ease-in;
        
        }
        


        .title {
          transform: translateX(-100%) scale(0.5);
          transition: transform 0.5s ease-in 0.1s;
        }

        .text {
          transform: translateX(-100%);
          transition: transform 0.5s ease-in 0.15s;
        }

        .button-wrapper {
          padding-top: 2.4rem;
          transform: translateX(-100%);
          transition: transform 0.5s ease-in 0.2s;
        }

      }
    }

    

    video {
      object-fit: cover;
      // flex: 1;
      transform: scale(1) translate(0px);
      border-radius: 10px;
      transition: transform 0.3s ease-in, filter 0.5s ease-in;
      
    }

    &.show {
      .image-wrapper {
        opacity: 1;
        // transform: rotateX(0deg);
      }
    }
  }

  &:hover {
    
    .video-wrapper {
    
      .project-description {
        opacity: 1;

        &::before {
          opacity: 1;
        }
        .title {
          transform: translateX(0%) scale(1);
          transition: transform 0.5s ease-in;
        }

        .text {
          transform: translateX(0%);
          transition: transform 0.5s ease-in 0.5s;

        }
        
        .button-wrapper {
          transform: translateX(0%);
          transition: transform 0.5s ease-in 1s;
        }
      }

      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        // background-color: rgba(76, 140, 157, 0.7);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 50;
        
      
      
      }
    }

    video {
      // transform: scale(0.6) rotate(90deg);
      transform: scale(0.7) translate(50px, 30px);
      box-shadow: 3px 0px 50px  rgba(51, 51, 51, 0.5);
      // transform: scale(0.6);
      
      // filter: blur(8px);
      // animation: pulse 2s ease-in infinite alternate;
   
    }
  }
}

@keyframes pulse {
  0% {
    filter: blur(8px);
  }

  50% { 
    filter: blur(3px);
  }

  100% {
    filter: blur(8px);
  }
}

@keyframes changeColor {
  0% {
    background-color: #4C8C9D
  }

  50% {
    background-color:#9E4C66;
  }

  100% {
    background-color: #4C8C9D
  }
}

@keyframes imageRotate {
  0% {
    transform: rotateX(-90deg);
    // opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    // opacity: 1;
  }
}

@keyframes imageScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes imageOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrowMove {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  100% {
    transform: translateY(10px) translateX(5px);
  }
}

// ANIMATIONS

@keyframes slideInText {
  0% {

  }
  100% {
    
  }
}